# all the stuff composer installs
vendor/bin
vendor/components
vendor/composer
vendor/paquettg
vendor/twitter
null/
#garbage
*~
DEADJOE
/nbproject/private/

images/hex/small/BIN
images/hex/BIN

questions/
CodeIgniter-3.1.6.zip
*nohup.out
composer.lock
images/hex/bin/
images/hex/small/bin
x
safe*
save*
test/
grocery-crud-1.5.9.zip
dump*
.htaccess
DUMPDOWN
DUMPUP
UP
book/ichingbook/
vendor/autoload.php
nbproject/
SAVE
astro/js/
astro/tile.jpg
book/iching_book/
cignite/vendor/
id/
initdb.sql
lib/md2pdf/composer.json
lib/md2pdf/vendor/
log/
