# all the stuff composer installs
vendor/bin
vendor/components
vendor/composer
vendor/paquettg
vendor/twitter
null/
#garbage
*~
DEADJOE
/nbproject/private/

images/hex/small/BIN
images/hex/BIN

questions/
CodeIgniter-3.1.6.zip
*nohup.out
composer.lock
images/hex/bin/
images/hex/small/bin
x
safe*
save*
test/
grocery-crud-1.5.9.zip
dump*
.htaccess
DUMPDOWN
DUMPUP
UP
book/ichingbook/
vendor/autoload.php
nbproject/
SAVE
astro/js/
astro/tile.jpg
book/iching_book/
cignite/vendor/
id/
initdb.sql
lib/md2pdf/composer.json
lib/md2pdf/vendor/
log/
database.sql
js/astrodataJson.html
php_errors.log
.htpasswd
index.org.php
x
xx
xxx
y
yy
yyy
UNUSED-CodeIgniter-3.1.6.zip
UNUSED-grocery-crud-1.5.9.zip
V3
assets
lib/PHP-Login/
lib/class/PHPAuth/
lib/stopwords.sql
lib/stopwords.txt
stopwords.sql
vendor/jquery-ui-1.12.1.custom.zip
vendor/jquery-ui.DEFAULT/
x.sql
*.psd
.directory
########################################
#for charting
########################################
charting/home/tmp/*
backup*
consult.php
charting/mysqli_connect_online_calcs_db_MYSQLI.php

#####################################
# general loose stuff
#####################################
RH.sql
archive/
database_noopt.sql
images/astroIcon.png
images/infobutton.png
images/pencil-arrow-image.png
images/saturn.png
itemp_data.sql
js/jQuery-Plugin-To-Create-Fullscreen-Popup-Windows.zip
run_line_2_org.sh
temp.sql
temp_data.sql
temp_line_2_exp.sql
temp_schema.sql
utils/fixfield.sh
utils/fixfields.sh
utils/fixundo.sh
utils/imports/
utils/itemp_data.sql
utils/redesc
utils/temp.sql
utils/temp_data.sql
utils/temp_schema.sql
utils/updateFromTxt.sh
utils/update_lines.php
xback
charting/home/tmp/*.png
