# override conf    SetEnv runtime dev
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</IfModule>

#hoide php extension

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) $1.php [L]
